### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### MacOS ###
.DS_Store

### /backend ###
/backend/build/

### /frontend ###
/frontend/build/

### Misc ###
*.log
node_modules
